body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.loader{
    text-align: center;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 300px;
    border-radius: 50px;
}

.bar{
    background-color: rgb(92, 79, 165);
    height: 5px;
    border-radius: 50px;
    animation: progress 1s infinite linear;
    margin-top: 20px;
}

@keyframes progress {
    0% {width: 0%;}
    100% {width: 100%;}
}

.App{
}